<app-navbar></app-navbar>
<div class="container" *ngIf="currentProduct">
    <br>
    <button mat-icon-button matTooltip="Go back" (click)="goBackToPreviousPage()">
        <mat-icon class="img-responsive">keyboard_backspace</mat-icon>
    </button>
    <div class="card mat-elevation-z8 m-4" style='margin: "2%";'>
        <div class="card-header text-uppercase text-center font-weight-bold bg-secondary text-white">
            <span class="text-warning">Product Name:</span> {{currentProduct.prodName}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div *ngFor="let image of productImages">
                        <img *ngIf="image['isPrimaryImage']" class="img-responsive" [src]="image['imagePath']"
                            alt="Smiley face" height="400px" width="100%">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <ng-container class="col-sm" *ngFor="let image of productImages">

                    <div *ngIf="!image['isPrimaryImage']">
                        <img class="img-responsive mr-2 ml-2 border border-secondary" [src]="image['imagePath']"
                            alt="Smiley face" height="100px">
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="row">
                <div class="text-info col-sm font-weight-bold">Comments:</div>
                <br>
            </div>
            <div class="row m-1 bg-dark" *ngFor="let comment of commentsOfProduct">
                <div  class="p-1">
                    <span class="text-danger font-weight-bold text-capitalize">{{comment.commentByUserName}}:</span>
                    <span class="text-white pl-1 text-capitalize"> {{comment.commentValue}}</span><br>
                    <span class="text-muted ">{{comment.dateOfComment|date}}</span>
                </div>
            </div>
            <div *ngIf="authToken=='admin'">
                <div class="row m-1 bg-dark">
                    <textarea class="form-control" placeholder="Enter suggestion for the product" [(ngModel)]="comment">
            </textarea>
                </div>
                <button (click)="addComment()" 
                    class="btn m-2 btn-success btn-sm mat-elevation-z8">Add comment</button>
                <br>
            </div>
            <span class="text-info font-weight-bold"> Product prices:-</span>
            <div class="row">

                <br>
                <div class="col">
                    <span class="text-danger font-weight-bold">MRP: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.mrp"
                        placeholder="Mobile">

                </div>
                <div class="col">
                    <span class="text-danger font-weight-bold">SSP: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.ssp"
                        placeholder="Mobile">

                </div>
                <div class="col">
                    <span class="text-danger font-weight-bold">YMP: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.ymp"
                        placeholder="Mobile">
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm">
                    <label class="text-info font-weight-bold">Product details:</label>
                </div>
            </div>

            <div class="row m-1">
                <div class="col-sm">

                    <span class="text-success font-weight-bold">Uploaded user guide:</span></div>
                <div class="col-sm">
                    <a [href]="currentProduct.pdfPath" target="blank">Click to View</a>
                </div>

            </div>

            <div class="row m-1">
                <div class="col-sm">

                    <span class="text-success font-weight-bold">Product Code: </span></div>
                <div class="col-sm">
                    <input type="text" class="form-control" disabled [(ngModel)]="currentProduct.prodCode">
                </div>

            </div>

            <div class="row m-1">
                <div class="col-sm">

                    <span class="text-success font-weight-bold"> Product Name:: </span></div>
                <div class="col-sm">
                    <input type="text" class="form-control" disabled [(ngModel)]="currentProduct.prodName">
                </div>

            </div>

            <div class="row m-1">
                <div class="col-sm">

                    <span class="text-success font-weight-bold">Short description: </span></div>
                <div class="col-sm">
                    <input type="text" class="form-control" disabled [(ngModel)]="currentProduct.shortDes">
                </div>

            </div>

            <div class="row m-1" *ngIf="currentProduct.longDesc">
                <div class="col-sm">

                    <span class="text-success font-weight-bold">Long description: </span></div>
                <div class="col-sm">
                    <input type="text" class="form-control" disabled [(ngModel)]="currentProduct.longDesc">
                </div>

            </div>

            <div class="row m-1">
                <div class="col-sm">
                    <span class="text-success font-weight-bold">Category: </span></div>
                <div class="col-sm">
                    <input type="text" class="form-control" disabled [(ngModel)]="currentProduct.category">
                </div>
            </div>
            <div class="row"
                *ngIf="currentProduct.prodLength || currentProduct.prodHeight || currentProduct.prodHeight">
                <span class="text-success font-weight-bold">Dimensions:- </span>
                <br>
                <div class="col" *ngIf="currentProduct.prodLength">
                    <span class="text-danger font-weight-bold">Product length: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.prodLength"
                        placeholder="Mobile">
                </div>
                <div class="col" *ngIf="currentProduct.prodBreadth">
                    <span class="text-danger font-weight-bold">Product breadth: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.prodBreadth"
                        placeholder="Mobile">

                </div>
                <div class="col" *ngIf="currentProduct.prodHeight">
                    <span class="text-danger font-weight-bold">Product height: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.prodHeight"
                        placeholder="Mobile">
                </div>
            </div>
            <br>
            <div class="row" *ngIf="currentProduct.prodColor || currentProduct.prodBrand || currentProduct.prodBrand">
                <div class="text-success font-weight-bold">Product attributes:- </div>
                <div class="col" *ngIf="currentProduct.prodColor">
                    <span class="text-danger font-weight-bold">Color: </span>
                    <input type="text" disabled class="form-control" [(ngModel)]="currentProduct.prodColor">

                </div>
                <div class="col" *ngIf="currentProduct.prodBrand">
                    <span class="text-danger font-weight-bold">Brand: </span>
                    <input type="text" disabled class="form-control" [(ngModel)]="currentProduct.prodBrand"
                        placeholder="Mobile">

                </div>
                <div class="col" *ngIf="currentProduct.prodWeight">
                    <span class="text-danger font-weight-bold">Weight: </span>
                    <input type="number" disabled class="form-control" [(ngModel)]="currentProduct.prodWeight"
                        placeholder="Mobile">
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<ngx-spinner></ngx-spinner>