<app-navbar></app-navbar>
<div class="container">
<div class="row p-0 m-2">
        <div class="col-sm-3">
            <button mat-icon-button matTooltip="Go back" (click)="goBackToPreviousPage()">
                <mat-icon class="img-responsive">keyboard_backspace</mat-icon>
            </button>
        </div>
        <div class="col-sm p-4 border mat-elevation-z8">
            <h2 class="form-signin-heading">Add new product here...</h2>
            <br>
            <span class="text-info font-weight-bold">Seller Product Code:* </span>
            <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="prodCode" placeholder="Product Code"
                autofocus>

            <br>
            <span class="text-info font-weight-bold">Product Name:* </span>
            <input type="text" id="inputLastName" class="form-control" [(ngModel)]="prodName" placeholder="Product Name">
            <br>
            <span class="text-info font-weight-bold">Short description:* </span>
            <input type="text" id="inputLastName" class="form-control" [(ngModel)]="shortDes" placeholder="Short description">

            <br>
            <span class="text-info font-weight-bold">Long Description: </span>
            <input type="text" id="inputLastName" class="form-control" [(ngModel)]="longDesc" placeholder="Long Description">

            <br>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                </div>
                <select class="custom-select" [(ngModel)]="category">
                    <option *ngFor="let cat of categories" [value]="cat"> {{cat}}</option>
                </select>
            </div>
            <hr>
            <span class="text-info font-weight-bold">Dimensions:-</span>
            <div class="row">
                <div class="col">
                    <span class="text-dark font-weight-bold">Product length: </span>
                    <input type="number" class="form-control" [(ngModel)]="prodLength" placeholder="Product length">

                </div>
                <div class="col">
                    <span class="text-dark font-weight-bold">Product breadth: </span>
                    <input type="number" class="form-control" [(ngModel)]="prodBreadth" placeholder="Product breadth">

                </div>
                <div class="col">
                    <span class="text-dark font-weight-bold">Product height: </span>
                    <input type="number" class="form-control" [(ngModel)]="prodHeight" placeholder="Product height">
                </div>
            </div>
            <hr>
            <span class="text-info font-weight-bold">Product Files:-</span>
            <br>
            <span class="text-dark font-weight-bold">Primary Image: </span>
            <div class="m-2"><input type="file" (change)="onPrimaryImagePicked($event)">
                <small class="form-text text-muted">*format should be-png, jpg,jfif, jpeg only.</small>
            </div>
            <span class="text-dark font-weight-bold">Other product Images:</span>
            <div class="m-2"><input type="file" (change)="onOtherImagesPicked($event)" multiple>
                <small class="form-text text-muted">*format should be-png, jpg,jfif, jpeg only.</small>
            </div>
            <span class="text-dark font-weight-bold">Usage instructions Guide:</span>
            <div class="m-2"><input type="file" (change)="onuserGuidePicked($event)">
                <small class="form-text text-muted">*format should be-pdf,txt,doc.</small>
            </div>
            <hr>
            <span class="text-info font-weight-bold"> Product prices:-*</span>
            <div class="row">
                <div class="col">
                    <span class="text-dark font-weight-bold">MRP: </span>
                    <input type="number" class="form-control" [(ngModel)]="MRP" placeholder="MRP">

                </div>
                <div class="col">
                    <span class="text-dark font-weight-bold">SSP: </span>
                    <input type="number" class="form-control" [(ngModel)]="SSP" placeholder="SSP">

                </div>
                <div class="col">
                    <span class="text-dark font-weight-bold">YMP: </span>
                    <input type="number" class="form-control" [(ngModel)]="YMP" placeholder="YMP">
                </div>
            </div>
            <br>

            <span class="text-info font-weight-bold"> Product attributes:-</span>

            <div class="row">
                <div class="col">
                    <span class="text-dark font-weight-bold">Color: </span>
                    <input type="text" class="form-control" [(ngModel)]="prodColor" placeholder="Color">

                </div>
                <div class="col">
                    <span class="text-dark font-weight-bold"> Brand: </span>
                    <input type="text" class="form-control" [(ngModel)]="prodBrand" placeholder="Brand">

                </div>
                <div class="col">
                    <span class="text-dark font-weight-bold">Weight: </span>
                    <input type="number" class="form-control" [(ngModel)]="prodWeight" placeholder="Weight  ">
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-info mat-elevation-z8 btn-block" (click)="addProduct()">Add product</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<ngx-spinner></ngx-spinner>