<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-capitalize sticky-top mat-elevation-z8">
    <a class="navbar-brand">
        <img src="./../../../assets/YSign.jfif" style="border-radius: 25px;" width="30" height="30"
            class="d-inline-block align-top" alt="">
        YourMart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
            </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()">Logout({{userName}})</button>
        </span>
    </div>
</nav>
<div class="row p-0 m-2">
    <div class="col-sm-3"></div>
    <div class="col-sm p-4 border border-dark">
        <h2 class="form-signin-heading">Add new product here...</h2>
        <br>
        <span>Seller Product Code: </span>
        <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="prodCode" placeholder="FirstName"
            autofocus>

        <br>
        <span>Product Name: </span>
        <input type="text" id="inputLastName" class="form-control" [(ngModel)]="prodName" placeholder="LastName">
        <br>
        <span>Short description: </span>
        <input type="text" id="inputLastName" class="form-control" [(ngModel)]="shortDes" placeholder="LastName">

        <br>
        <span>Long Description: </span>
        <input type="text" id="inputLastName" class="form-control" [(ngModel)]="longDesc" placeholder="LastName">

        <br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select class="custom-select" [(ngModel)]="category">
                <option *ngFor="let cat of categories" [value]="cat"> {{cat}}</option>
            </select>
        </div>

        Dimensions:-
        <div class="row">
            <div class="col">
                <span>Product length: </span>
                <input type="number" class="form-control" [(ngModel)]="prodLength" placeholder="Mobile">

            </div>
            <div class="col">
                <span>Product breadth: </span>
                <input type="number" class="form-control" [(ngModel)]="prodBreadth" placeholder="Mobile">

            </div>
            <div class="col">
                <span>Product height: </span>
                <input type="number" class="form-control" [(ngModel)]="prodHeight" placeholder="Mobile">
            </div>
        </div>
        <br>

        Product Files:-
        <br>>
        Primary Image:
        <div class="m-2"><input type="file" (change)="onPrimaryImagePicked($event)">
            <small class="form-text text-muted">*less than 5MB and format-png, jpg, jpeg only.</small>
        </div>
        Other product Images:
        <div class="m-2"><input type="file" (change)="onOtherImagesPicked($event)" multiple>
            <small class="form-text text-muted">*less than 5MB and format-png, jpg, jpeg only.</small>
        </div>
        Usage instructions (pdf document):
        <div class="m-2"><input type="file" (change)="onuserGuidePicked($event)">
            <small class="form-text text-muted">*less than 5MB and format-pdf,txt,doc.</small>
        </div>

        Product prices:-
        <div class="row">
            <div class="col">
                <span>MRP: </span>
                <input type="number" class="form-control" [(ngModel)]="MRP" placeholder="Mobile">

            </div>
            <div class="col">
                <span>SSP: </span>
                <input type="number" class="form-control" [(ngModel)]="SSP" placeholder="Mobile">

            </div>
            <div class="col">
                <span>YMP: </span>
                <input type="number" class="form-control" [(ngModel)]="YMP" placeholder="Mobile">
            </div>
        </div>
        <br>

        Product attributes:-
        <div class="row">
            <div class="col">
                <span>Color: </span>
                <input type="number" class="form-control" [(ngModel)]="prodColor" placeholder="Mobile">

            </div>
            <div class="col">
                <span>Brand: </span>
                <input type="number" class="form-control" [(ngModel)]="prodBrand" placeholder="Mobile">

            </div>
            <div class="col">
                <span>Weight: </span>
                <input type="number" class="form-control" [(ngModel)]="prodWeight" placeholder="Mobile">
            </div>
        </div>
        <br>



        <button class="btn btn-lg btn-info btn-block" (click)="addProduct()">Add product</button>
    </div>
    <div class="col-sm-3"></div>
</div>