<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-capitalize sticky-top mat-elevation-z8">
    <a class="navbar-brand">
        <img src="./../../../assets/YSign.jfif" style="border-radius: 25px;" width="30" height="30"
            class="d-inline-block align-top" alt="">
        YourMart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
            </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
            <a class="nav-link" routerLink='/signup'> Register as seller</a>
        </span>
    </div>
</nav>
<div class="jumbotron">
    <h1>Welcome to YourMart App</h1>
    <p class="lead">Buy quality products at best prices.</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col">
            <div class="card mat-elevation-z8 top-margin border"
                style="width: 18rem; margin-top: 1vh;margin-bottom: 3vh; background:#c9d7e2;">
                <img src="./../../../assets/newseller.jfif"  width="285px" height="181px" class=" img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Are you a Seller?</h5>
                    <p class="card-text text-muted">You can sell products here. Update, delete and comment on products as well.</p>
                    <a routerLink="/login" style="color:white;" class="btn btn-dark">Login</a>
                    <a routerLink="/signup" style="color:white;" class="btn btn-dark ml-1">Register</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mat-elevation-z8 top-margin border"
                style="width: 18rem; margin-top: 1vh;margin-bottom: 4vh; background:#c9d7e2;">
                <img src="./../../../assets/admin.jfif" width="285px" height="181px" class=" img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Are you a Admin?</h5>
                    <p class="card-text text-muted">View  products, sellers. Change status of the products and sellers as well.</p>
                    <a routerLink="/login" style="color:white;" class="btn btn-dark">Login</a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>