<app-navbar></app-navbar>
<div class="container" *ngIf="currentProduct">
  <br>
    <button mat-icon-button matTooltip="Go back" (click)="goBackToPreviousPage()">
        <mat-icon class="img-responsive">keyboard_backspace</mat-icon>
    </button>
  <div class="card mat-elevation-z8 m-4" style='margin: "2%";'>
    <div class="card-header text-uppercase text-center font-weight-bold bg-secondary text-white">
      <span class="text-warning ">Product Name:</span> {{currentProduct.prodName}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div *ngFor="let image of productImages">
            <img *ngIf="image['isPrimaryImage']" class="img-responsive" [src]="image['imagePath']" alt="Smiley face"
              height="300px" width="100%">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="text-info font-weight-bold">Change primary Image:</label>
            <br>
            <input type="file" (change)="onPrimaryImagePicked($event,currentProduct.prodId)" accept="image/*">
            <small class="form-text text-muted">*format should be -png, jpg, jpeg only.</small>
          </div>
        </div>
      </div>
     <hr>
      <div class="row">
        <ng-container class="col-sm" *ngFor="let image of productImages">
            <img *ngIf="!image['isPrimaryImage']" class="img-responsive mr-2 ml-2 border border-secondary" [src]="image['imagePath']" alt="Smiley face" height="100px">
        </ng-container>
      </div>
      <div class="row">
        <div class="col-sm">
              <label class="text-info font-weight-bold">Add product images:</label>
              <br>
              <input type="file" (change)="onOtherImagesPicked($event)" multiple accept="image/*">
              <small class="form-text text-muted">*format should be -png, jpg, jpeg only.</small>
              <button class="mt-2 mat-elevation-z8 btn btn-sm btn-success"  (click)="addNewImagesOfProduct(currentProduct.prodId)">Add photos</button> 
            </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm">
          <label class="text-info font-weight-bold">Uploaded user guide:</label>
          <a class="btn btn-sm  mat-elevation-z8 btn-info ml-2" [href]="currentProduct.pdfPath" target="blank">View</a> 
        </div>
      </div>
      <div class="row">
            <div class="col-sm">
                <label class="text-info font-weight-bold">Change user guide:</label>
                <br>
                <input type="file" (change)="onuserGuidePicked($event,currentProduct.prodId)">
                  <small class="form-text text-muted">*format should be pdf,txt,doc.</small> 
              <!-- <button class="mt-2 mat-elevation-z8 btn btn-sm btn-success"  (click)="updateProductUserGuide(currentProduct.prodId)">Update user guide</button>  -->
            </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-sm">
            <label class="text-info font-weight-bold">Other product details:</label>
          </div>
      </div>

          <div class="row m-1">
              <div class="col-sm">
                
                  <span>Seller Product Code: </span>
                  <input type="text" class="form-control" [(ngModel)]="currentProduct.prodCode" placeholder="FirstName">
          
                  <br>
                  <span>Product Name: </span>
                  <input type="text" class="form-control" [(ngModel)]="currentProduct.prodName" placeholder="LastName">
                  <br>
                  <span>Short description: </span>
                  <input type="text" id="inputLastName" class="form-control" [(ngModel)]="currentProduct.shortDes" placeholder="LastName">
          
                  <br>
                  <span>Long Description: </span>
                  <input type="text" id="inputLastName" class="form-control" [(ngModel)]="currentProduct.longDesc" placeholder="LastName">
          
                  <br>
          
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Category</label>
                      </div>
                      <select class="custom-select" [(ngModel)]="currentProduct.category">
                          <option *ngFor="let cat of categories" [value]="cat"> {{cat}}</option>
                      </select>
                  </div>
          
                  Dimensions:-
                  <div class="row">
                      <div class="col">
                          <span>Product length: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.prodLength" placeholder="Mobile">
          
                      </div>
                      <div class="col">
                          <span>Product breadth: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.prodBreadth" placeholder="Mobile">
          
                      </div>
                      <div class="col">
                          <span>Product height: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.prodHeight" placeholder="Mobile">
                      </div>
                  </div>
                  <br>          
                  Product prices:-
                  <div class="row">
                      <div class="col">
                          <span>MRP: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.mrp " placeholder="Mobile">
          
                      </div>
                      <div class="col">
                          <span>SSP: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.ssp" placeholder="Mobile">
          
                      </div>
                      <div class="col">
                          <span>YMP: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.ymp" placeholder="Mobile">
                      </div>
                  </div>
                  <br>
          
                  Product attributes:-
                  <div class="row">
                      <div class="col">
                          <span>Color: </span>
                          <input type="text" class="form-control" [(ngModel)]="currentProduct.prodColor" placeholder="Mobile">
          
                      </div>
                      <div class="col">
                          <span>Brand: </span>
                          <input type="text" class="form-control" [(ngModel)]="currentProduct.prodBrand" placeholder="Mobile">
          
                      </div>
                      <div class="col">
                          <span>Weight: </span>
                          <input type="number" class="form-control" [(ngModel)]="currentProduct.prodWeight" placeholder="Mobile">
                      </div>
                  </div>
                  <br>
                 <button class="btn btn-lg mat-elevation-z8 btn-info btn-block" (click)="updateOtherdetailsOfProduct()">Update product</button>
              </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>