<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-capitalize sticky-top mat-elevation-z8">
    <a class="navbar-brand">
        <img src="./../../../assets/YSign.jfif" style="border-radius: 25px;" width="30" height="30"
            class="d-inline-block align-top" alt="">
        YourMart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
            </li>
        </ul>
        <span class="form-inline my-2 my-lg-0">
            <a class="nav-link" routerLink='/signup'> Register as seller</a>
        </span>
    </div>
</nav>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
<div class="row p-0 m-2 bg-light ">
    <div class="col-sm"></div>
    <div class="col-sm p-4 border border-dark">
        <h2 class="form-signin-heading">Sign In</h2>
        <br>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"  class="custom-control-input" value="admin"
                formControlName="userType">
            <label class="custom-control-label">Admin</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"  class="custom-control-input" value="seller"
                formControlName="userType">
            <label class="custom-control-label" >Seller</label>
        </div>
        <br>
        <br>
        <span>Email: </span>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" class="input-group input-sm mb-3"  class="form-control" formControlName="email"
            placeholder="Email address">
        <div *ngIf="f.email.errors" class="alert alert-danger">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
        <br>
        <span>Password: </span>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="input-group input-sm mb-3" class="form-control"
            formControlName="password" placeholder="Password">
        <!-- <small class="form-text text-muted">*required.</small> -->
        <br>
        <div class="form-group">
                <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-md btn-success">Sign In</button>
        </div>
        <!-- <span><button class="btn btn-md btn-success" type="button" (click)="signin()">Sign In</button></span> -->

    </div>
    <div class="col-sm"></div>
</div>
</form>