<app-navbar></app-navbar>
<br>

<div class="container">
    <button mat-icon-button matTooltip="Go back" (click)="goBackToPreviousPage()">
        <mat-icon class="img-responsive">keyboard_backspace</mat-icon>
    </button>
    <br>
    <h2 class="text-center">All Sellers</h2>
    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search for a seller" autocomplete="off"
                (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8 tableText">
        <mat-table [dataSource]="allSellers" matSort *ngIf="allSellers">
            <ng-container matColumnDef="Seller Id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Seller Id </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.sellerId}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Owner name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Owner name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ownerName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Company Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.companyName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="GST Number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> GST Number</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.gstnumber}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef='Approve Selected'>
                <mat-header-cell *matHeaderCellDef (click)="approveSelectedSellers()">Click to approve selected</mat-header-cell>
                <mat-cell *matCellDef="let element"><mat-checkbox class="pl-5" (click)="selectSeller(element.sellerId)"></mat-checkbox></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Status">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <mat-select panelClass="example-panel-dark-blue" [(ngModel)]="element.status"
                            (selectionChange)="updateStatusOfSeller($event.value,element.sellerId)">
                            <mat-option *ngFor="let status of sellerStatusTypes" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="view">
                <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="View Seller" (click)="viewSeller(element.sellerId)">
                        <mat-icon class="img-responsive">launch</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    noData
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="pr-2"></mat-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':allSellers!=null}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[2, 5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>
<ngx-spinner></ngx-spinner>